
#header
  %span time spent for
  %h1= @customer.name 

.dashboard
  #main
    = render :partial => "time_logs", :locals => {:customer => @customer, :time_logs => @time_logs}
  
  #secondary
    = render :partial => "actions"
    //= render :partial => "dashboard/invoices",   :locals => {:customer => @customer, :invoices => @customer.invoices}
    //= render :partial => "dashboard/projects",   :locals => {:customer => @customer, :projects => @customer.projects}

  %br
