body {
  font-size: 62.5%;
  font-family: Delicious;
  color: #333333;
  background-color: #eeeeee; }

#main {
  background-color: #ffffff;
  width: 900px;
  margin: 0 auto;
  padding: 0.2em 1em; }

.my_info {
  padding: 1em;
  text-align: center;
  color: #999;
  font-size: 1.2em;
  font-family: Delicious , Adobe Garamond Pro; }
  .my_info div {
    display: inline;
    margin: 0 1em; }
  .my_info .name {
    font-weight: bold;
    font-size: 1.2em; }

.my_info.top {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd; }

.my_info.bottom {
  margin-top: 1em;
  border-top: 1px solid #ddd; }

#header {
  font-family: Optima;
  font-style: italic;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  border-bottom: 1px solid #333; }
  #header span {
    font-size: 1.75em;
    color: #777; }
  #header h1 {
    font-size: 2.5em;
    margin: 0 0.25em;
    padding: 0;
    padding-bottom: 0;
    display: inline-block; }
  #header h3 {
    font-size: 1.75em;
    margin: 0 0.25em;
    padding: 0;
    display: inline-block; }

p#description {
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: #e1eefc;
  font-size: 1.4em;
  color: #333333;
  padding: 0.5em 1em;
  border-top-width: 0;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px; }

table#invoice {
  margin: 0;
  padding: 0;
  width: 100%; }
  table#invoice .hours, table#invoice .rate {
    text-align: right; }
  table#invoice thead {
    font-size: 1.4em;
    background-color: #333;
    color: #FFF; }
    table#invoice thead td {
      margin: 0;
      padding: 0.2em 0.5em;
      background-color: #333; }
  table#invoice tbody {
    font-size: 1.4em;
    background-color: #eee; }
    table#invoice tbody .hours, table#invoice tbody .rate {
      color: #888888; }
    table#invoice tbody td {
      padding: 0.5em; }
    table#invoice tbody .hours, table#invoice tbody .rate {
      text-align: right; }
      table#invoice tbody .hours input,       table#invoice tbody .rate input {
        width: 3em; }
    table#invoice tbody textarea {
      width: 100%; }
  table#invoice tfoot {
    background-color: #fff7cf; }
    table#invoice tfoot td {
      font-size: 1.4em;
      font-weight: bold;
      padding: 0.5em;
      border-top: 1px solid #d7ae56;
      background-color: #fff7cf; }
  table#invoice tr#total {
    border: 0; }

tr.even, li.even {
  background-color: #eeeeee; }

tr.odd, li.odd {
  background-color: #f8f8f8; }

#main .customer {
  margin: 1em 0; }
  #main .customer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.4em; }
  #main .customer li {
    padding: 0.5em; }
  #main .customer h3 {
    font-size: 1.4em;
    font-weight: normal;
    background-color: #333;
    color: #FFF;
    margin: 0;
    padding: 0.2em 0.5em; }
  #main .customer #main {
    padding: 0;
    width: 64%;
    float: left; }
    #main .customer #main .todos {
      background-color: #fff7cf;
      margin-bottom: 1em; }
  #main .customer #secondary {
    padding: 0;
    width: 35%;
    float: right; }
  #main .customer br {
    clear: both; }
  #main .customer form {
    margin: 0;
    padding: 0; }

span.note {
  -webkit-border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
  padding: 0.2em 0.4em; }
