
body {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

#main {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
}

table#invoice tr#add {
  display: none;
} 

td.opts {
  display: none;
}
